<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216111928446-6pg20lcb6plnpoft1kd86dht63qq5l6b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216111928446-6pg20lcb6plnpoft1kd86dht63qq5l6b</string>
	<key>API_KEY</key>
	<string>AIzaSyChpIbWanAnZn7XKOjV855jYQyGNiqTclM</string>
	<key>GCM_SENDER_ID</key>
	<string>216111928446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myChatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-a219c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-a219c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216111928446:ios:8db857a96d8d392674742f</string>
</dict>
</plist>